*:focus {
    outline: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

body {
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 1)),
      url('../images/barrels-min.jpg');
  filter: grayscale(50%);
  background-size: cover;
  background-attachment: fixed;
}

/******************** NAVIGATION BAR ********************/
.navbar {
  border-radius: 0;
  font-size: 25px;
  font-family: 'Berkshire Swash', cursive;
}

body .navbar-nav  > .active > a {
}

.navbar-header .navbar-brand, .collapse .navbar-nav .active a, .collapse .navbar-nav li a {
  color: #e4a82f;
}

.navbar-header .navbar-brand:hover, .collapse .navbar-nav .active a:hover, .collapse .navbar-nav li a:hover {
  font-style: italic;
  color: #e4a82f;
}

.navbar-brand {
  padding: 5px;
}

.navbar-header .navbar-brand:hover {
  background: #000;
}
img.drinkLogo {
  height: 40px;
  width: auto;
}

/******************** BUTTONS ********************/
.btn-submit {
  margin-top: 30px;
  width: 100px;
}

.btn-submit:hover {
  height: 33px;
  padding: 3px 12px;
  border: 5px solid #05ff65;
}

.btn {
  background: rgba(236, 194, 111, 0.69);
  font-family: 'Noto Serif', serif;
  text-shadow: none;
  color: #000;
}

/******************** FOOTER ********************/

.navbar-fixed-bottom {
  /*border-top: #fff;*/
  background: rgba(0, 0, 0, 0.8);
  border-color: #000;
  color: #e4a82f;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-fixed-bottom a {
  color: #e4a82f;
}

.navbar-credits {
  margin-bottom: 2px;
  vertical-align: middle;
}
